.hero {
    width: 100%;
    min-height: calc(100vh - 100px);
    display: none;
    margin: 100px 0 0 0;

    @media (min-width: 768px) {
        display: flex;
    }
}

.hero__left {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    background-color: var(--white-2);
}

.hero__header {
    font-size: 32px;
    font-weight: 700;
    font-family: 'Playfair Display', serif;
    margin: 0 0 40px 0;

    @media (min-width: 1024px) {
        font-size: 48px;
    }

    @media (min-width: 1300px) {
        font-size: 70px;
    }
}

.hero__right {
    width: 50%;
    background-color: var(--turquoise);
    position: relative;
    display: flex;
    align-items: center;
}

.hero__fog {
    width: 100%;
    height: 100%;
    opacity: 0.3;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--turquoise);
    display: flex;
    align-items: center;
}

.hero__fog-border-container {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    display: flex;
    align-items: center;
}

.hero__fog-border {
    width: 310px;
    height: 380px;
    border-bottom: solid #F8F4EE 10px;
    border-right: solid #F8F4EE 10px;
    border-top: solid #F8F4EE 10px;

    @media (min-width: 1024px) {
        width: 370px;
        height: 440px;
    }

    @media (min-width: 1300px) {
        width: 430px;
        height: 500px;
    }

    @media (min-width: 1440px) {
        width: 530px;
        height: 600px;
    }
}

.hero__logo-container {
    background-color: var(--white-2);
    padding: 32px;
    border: 10px #1E2C30 solid;
    margin-left: -38px;
}

.hero__logo {
    width: 240px;
    height: 240px;

    @media (min-width: 1024px) {
        width: 300px;
        height: 300px;
    }

    @media (min-width: 1300px) {
        width: 360px;
        height: 360px;
    }

    @media (min-width: 1440px) {
        width: 460px;
        height: 460px;
    }
}

.hero__button {
    padding: 8px 16px;
    background-color: var(--green);
    font-weight: 700;
    font-size: 12px;
    color: var(--white);
    text-decoration: none;

    @media (min-width: 1024px) {
        font-size: 14px;
        padding: 16px 33px;
    }
}

.hero__content-container {
    width: 220px;

    @media (min-width: 1024px) {
        width: 340px;
    }
    
    @media (min-width: 1300px) {
        width: 440px;
    }
}