.navbar-mobile {
    position: fixed;
    top: 16px;
    right: 16px;
    background-color: transparent;
    z-index: 10;

    @media (min-width: 768px) {
        display: none;
    }
}

.navbar__button-mobile {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border: none;
    padding: 0;
    margin: 0;
    background-color: var(--white-2);
    box-shadow: 0px 3px 4px 2px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    cursor: pointer;
    position: relative;
    z-index: 2;
}

.navbar__hamburger-mobile {
    display: none;
    width: 14px;
    height: 10px;
    object-fit: cover;
}

.navbar__hamburger-active-mobile {
    display: none;
    width: 14px;
    height: 14px;
    object-fit: cover;
}

.show {
    display: block;
}

.navbar__menu-mobile {
    position: fixed;
    top: 0;
    right: 0;
    width: 222px;
    height: 100vh;
    background-color: rgba(248, 244, 238, 1);
    transition: transform 0.3s ease-in-out;
    transform: translateX(222px);
}

.navbar__logo-container-mobile {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(30, 44, 48, 1);
    width: 100%;
    height: 168px;
}

.navbar__menu-mobile--show {
    transform: translateX(0);
}

.navbar__logo-mobile {
    width: 120px;
    height: 120px;
    object-fit: cover;
}

.navbar__nav-container-mobile {
    width: 100%;
    height: calc(100% - 168px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.navbar__nav-mobile {
    margin: 0;
    padding: 0;
    width: 100%;
}

.navbar__ul-mobile {
    width: 100%;
    margin: 26px 0;
    padding: 0 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
    list-style: none;
}

.navbar__li-mobile {
    width: 100%;
    margin: 0;
    padding: 0;
}

.navbar__link-mobile {
    width: 100%;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    color: rgba(30, 44, 48, 1);
    border-bottom: 1px solid rgba(30, 44, 48, 1);
    font-size: 16px;
    font-weight: 500;
    line-height: 32px;
}

.navbar__paragraph-mobile {
    margin: 0;
}

.navbar__contact-mobile {
    margin: 0 17px 40px;
    padding: 16px 32px;
    background-color: var(--green);
    font-weight: 700;
    font-size: 14px;
    color: var(--white);
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}